
html {
  font-size: 16px;
}


body {
  background: black;
  margin: 0;
  padding: 0;
}

a{
	font-size: 20px;
	letter-spacing: 2px;
	padding: 10px 20px 10px 40px;
	margin: 0;
	color: #FFF;
}
li{
  color: #FFF;
  display:  inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  /*padding: 20px 18px 10px 18px;*/
  text-transform: capitalize;
}

h1 {
  text-align: left;
  color: #AAF;
  font-size: 4em;
  padding-top: 25px;
  width: 100%;
  font-family: Georgia;
}

h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 10px;
  text-align: left;
  width: 80%;
  font-family: Georgia;
}

p {
	
  min-width: 200px;
  /*min-height: 200px;*/
  color: AliceBlue;
  line-height: 1.5em;
  text-align: left;
  width: 80%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

.byline {
  font-family: Helvetica;
  color: rgba(255, 255, 255, 0.5);
  float: right		;
  font-size: 14px;
  padding-left: 100px;
  text-transform: uppercase;
}

.caption {
  opacity: 0.4;
  color: black;
  background-color: white;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-style: italic;
  line-height: 40px;
  margin-left: 15px;
  padding: 1px;
  position: relative;
  top: 10%;
  width: 30%;
}

.content {
  padding: 50px;
}

.image {
  background-image: url(the-school-of-athens.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}

.chewbacca-img{
	-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
	-moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
	box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
	float: right;
	width: 105.5px;
	height: 140.5px;
}

.antiojito{
  color:#AAS;
  font-family:Georgia;
  opacity:0.8;
  text-align:right;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  /*padding: 20px 18px 10px 18px;*/
  text-transform: capitalize;
}

.search {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #AAA;
  padding: 20px;
  margin: 50px auto 0px auto;
  width: 77%;
}


.navigation {
  box-sizing: border-box;
  background-color: #3587A4;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.active {
  color: #88CCF1;
}